.nav-back {
  position: relative;
  height: 10vh;
}
nav {
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 20px -1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 9px 20px -1px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 9px 20px -1px rgba(0, 0, 0, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  padding: 20px;
}
nav h1 {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  color: #fa5411;
  text-align: center;
}
@media (max-width: 1100px) {
  nav {
    padding: 15px;
  }
  nav h1 {
    font-size: 20px;
  }
}
