* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #e6e6e6;
  color: #121772 !important;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  min-height: 100dvh;
}
.container {
  width: 88%;
  margin: 0 auto;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  color: blueviolet;
  padding: 15px 0;
}
.title h3 {
  width: 50%;
  font-size: 18px;
  text-align: center;
}
.theme-inf {
  margin: 0 auto;
  margin-top: 25px;
  min-height: 80dvh;
}
.provel {
  width: 35px;
  height: 25px;
  display: inline-block;
}

.title .back {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(50%, -50%);
  left: 0%;
  border: none;
  padding: 10px;
  background-color: blueviolet;
  display: flex;
  font-size: 18px;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  justify-content: center;
}
footer {
  height: 30px;
  width: 100%;
}
@media (max-width: 1164px) {
  .title h3 {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 770px) {
  .title h3 {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 582px) {
  .title h3 {
    width: 80%;
    font-size: 15px;
  }
  .title {
    padding: 10px 0;
  }
  .title .back {
    padding: 8px;
    transform: translate(0%, -50%);
  }
}
